@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

nav, .container {
  padding: 20px 50px;
}

nav, .searching, .mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
  z-index: 3;
}
nav a {
  text-decoration: none;
  color: black;
}
nav .mode {
  cursor: pointer;
}

.searching {
  margin-top: 20px;
  position: relative;
}
.searching input {
  padding: 20px 40px;
  width: 350px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  outline: none;
}
.searching .fa-search {
  position: absolute;
  left: 12px;
  color: #7e7e7e;
  font-size: 14px;
}
.searching select {
  padding: 20px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.countries {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
}
.box .flag {
  width: 250px;
  height: 150px;
  cursor: pointer;
}
.box .flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .country-infos {
  padding: 25px 20px 40px;
  cursor: pointer;
}
.box .country-infos h2 {
  margin-bottom: 10px;
}

.dark-mode {
  background-color: #202c37;
}

main {
  padding: 20px 50px;
}
main button {
  margin: 40px 0 60px;
  padding: 10px 20px;
  border: none;
  background: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
main button i {
  margin-right: 8px;
  font-size: 16px;
}
main > div {
  display: flex;
  align-items: center;
}
main > div img {
  border: 1px solid blue;
  width: 450px;
  height: 350px;
  object-fit: cover;
}
main > div .country-details {
  padding: 40px 50px;
  width: 50%;
}
main > div .country-details p {
  font-weight: bold;
  margin-bottom: 5px;
}
main > div .country-details p span {
  font-weight: normal;
}
main > div .country-details h2 {
  font-size: 35px;
}
main > div .country-details .infos {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
main > div .country-details .country-borders {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
main > div .country-details .country-borders span {
  font-size: 14px;
  padding: 5px 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 25px;
}

@media screen and (max-width: 980px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main > div {
    border: 1px solid red;
    flex-direction: column;
    width: 450px;
  }
  main > div .country-details {
    padding: 40px 0;
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .searching {
    flex-direction: column;
  }
  .searching input {
    margin-bottom: 20px;
  }
  .searching .fa-search {
    opacity: 0;
  }

  .countries {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  main > div {
    width: 300px;
  }
  main > div img {
    width: 300px;
    height: 200px;
  }
  main > div .infos {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
