@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$dark-grey: hsl(207, 26%, 17%);
$dark-blue: hsl(209, 23%, 22%);
$white: #f1f1f1;

body{
    font-family: 'Nunito Sans', sans-serif;
}

nav, .container{
    padding: 20px 50px;
}

nav, .searching, .mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px; 
    z-index: 3;
    a{
        text-decoration: none;
        color: black;
    }
    .mode{
        cursor: pointer;
    }
}
.searching{
    margin-top: 20px;
    position: relative;
    input{
        padding: 20px 40px;
        width: 350px;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px; 
        outline: none;
    }
    .fa-search{
        position: absolute;
        left: 12px;
        color: rgb(126, 126, 126);
        font-size: 14px;
    }
    select{
        padding: 20px;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px;
    }
    
}

.countries{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    .flag {
        width: 250px;  
        height: 150px;
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .country-infos{
        padding: 25px 20px 40px;
        cursor: pointer;
        h2{
            margin-bottom: 10px;
        }
    }
}

.dark-mode{
    background-color: $dark-grey;
    color: $white;
    .box{
        border: 1px solid rgb(111, 111, 111);
    }
    main{
        background-color: $dark-grey;
    }
}

//page country
main{
    padding: 20px 50px;
    button{
        margin: 40px 0 60px;
        padding: 10px 20px;
        border: none;
        background: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px;
        font-size: 16px;
        font-family: inherit;
        cursor: pointer;
        i{
            margin-right: 8px;
            font-size: 16px;
        }
    }
    > div{
        display: flex;
        align-items: center;
        img{
            width: 450px;
            height:350px;
            object-fit: cover; 
        }
        .country-details{
            padding: 40px 50px;
            width: 50%;
            p{
                font-weight: bold;
                margin-bottom: 5px;
                span{
                    font-weight: normal;
                }
            }
            h2{
                font-size: 35px;
            }
            .infos{
                margin: 30px 0;
                display:flex;
                justify-content: space-between;
            }
            .country-borders{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                span{
                    font-size: 14px;
                    padding: 5px 8px;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    margin-left: 25px;
                }
                h5{
                    font-size: 16px;
                    margin-left: 20px;
                    font-weight: lighter;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        >div{
            flex-direction: column;
            width: 450px;
            .country-details{
                padding: 40px 0;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .searching{
        flex-direction: column;
        input{
            margin-bottom: 20px;
        }
        .fa-search{
            opacity: 0;
        }
    }
    .countries {
        justify-content: center;
    }
}
@media screen and (max-width: 500px){
    main>div{
        width: 300px;
        img{
            width: 300px;
            height: 200px;
        }
        .infos{
            flex-direction: column;
        }
    }
}